<nav class="bg-gray-800 px-4 py-3">
  <div class="container mx-auto md:flex md:items-center">
    <div class="flex justify-between items-center">
      <a href="{% url 'approvals:index' %}" class="text-lg font-bold text-white">Pulse</a>
    </div>
    <div class="md:flex md:items-center md:ml-auto">
      <a href="{% url 'approvals:request_list' %}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Requests</a>
      {% if user.is_authenticated and user.is_staff %}
      <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Users</a>
      <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Groups</a>
      <a href="{% url 'approvals:program_list' %}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Programs</a>
      {% endif %}
    </div>
  </div>
</nav>