{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-6">
    <h2 class="text-xl font-semibold mb-4">Update Request</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-lg font-medium">Assigned Users</h2>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <!-- All Users Box -->
            <div class="bg-white rounded-lg shadow-md p-4">
              <h2 class="text-lg font-medium mb-4">All Users</h2>
              <ul class="divide-y divide-gray-200">
                {% for user in all_users %}
                  <li class="py-2 flex items-center">
                    <span class="text-gray-500">{{ user.username }}</span>
                    <button class="ml-auto px-2 py-1 bg-blue-500 text-white rounded-lg hover:bg-blue-600" onclick="addUser(event, '{{ user.id }}', '{{ user.username }}')">Add</button>
                  </li>
                {% endfor %}
              </ul>
            </div>
          
            <!-- Assigned Users Box -->
            <div class="bg-white rounded-lg shadow-md p-4" id="assigned-users">
              <h2 class="text-lg font-medium mb-4">Assigned Users</h2>
              <ul class="divide-y divide-gray-200">
                {% for user in assigned_users %}
                  <li class="py-2 flex items-center">
                    <span class="text-gray-500">{{ user.username }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>


        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Save Changes
        </button>
    </form>
</div>

<script>
  function addUser(event, userId, username) {
    event.preventDefault();
    // Create new list item with username and remove button
    const li = document.createElement('li');
    li.classList.add('py-2', 'flex', 'items-center');
    li.innerHTML = `
      <span class="text-gray-500">${username}</span>
      <button class="ml-auto px-2 py-1 bg-red-500 text-white rounded-lg hover:bg-red-600" onclick="removeUser(event, this)">Remove</button>
      <input type="hidden" name="assigned_users" value="${userId}">
    `;

    // Add new list item to Assigned Users list
    const assignedUsersList = document.querySelector('#assigned-users ul');
    assignedUsersList.appendChild(li);
  }

  function removeUser(event, button) {
    event.preventDefault();
    // Remove list item containing the remove button
    button.parentElement.remove();
  }

</script>


{% endblock %}