{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="flex justify-between">
                <h2 class="text-lg font-medium text-gray-900">Requests</h2>
                <a href="{% url 'approvals:create' %}" class="inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Create a Request
                </a>
            </div>
            <div class="mt-6 border-t border-gray-200">
                <dl>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Request #1</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec nunc vel justo auctor pretium vitae sed leo. Vestibulum id magna ullamcorper, congue lectus at, feugiat ante. Proin vitae ultricies orci.</dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Request #2</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">Vivamus vitae erat euismod, rhoncus est vitae, iaculis tortor. Donec nec augue in enim molestie dictum non non elit. Nulla auctor, sapien sed rutrum consequat, mi tortor malesuada neque, eu ultricies arcu nulla at mauris. Praesent sit amet mauris euismod, aliquam velit sed, interdum ipsum.</dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Request #3</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">Morbi feugiat commodo velit. Sed pulvinar erat vel bibendum commodo. Suspendisse at augue purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam a lacinia libero. Sed laoreet ipsum eget velit sodales facilisis. Donec imperdiet, mauris eget dapibus blandit, augue mauris feugiat augue, id dictum nisl magna nec odio. </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}